<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
* 상품 결제 Mybatis 매퍼
* @author 김민정
* @since 2024.08.28
* @version 1.0
*
* <pre>
* 수정일       수정자        수정내용
* ==========  =========    =========
* 2024.08.28  김민정        최초 생성
* 2024.08.28  김민정        상품 결제 정보 삽입을 위한 프로시저 호출
* 2024.08.28  김민정        새로운 장바구니 및 인증 QR 정보 삽입을 위한 프로시저 호출
* 2024.08.30  김민정        멤버의 이전 구매 기록에서 비슷한 가격대의 제품을 찾기
* 2024.08.30  김민정        전체 상품 중에서 비슷한 가격대의 제품을 찾기
* 2024.09.01  김민정        결제 후, 새로운 장바구니 ID 반환 기능 추가
* 2024.09.01  김민정        클라이언트에서 받은 결제 아이템 배열 삽입
* </pre>
-->
<mapper namespace="com.ite.sws.domain.payment.mapper.PaymentMapper">

	<!-- 상품 결제 정보 삽입을 위한 프로시저 호출 -->
	<insert id="insertPayment" parameterType="com.ite.sws.domain.payment.vo.PaymentVO" statementType="CALLABLE">
		{CALL PROC_INSERT_PAYMENT(
				#{cartId, mode=IN, jdbcType=NUMERIC},
				#{amount, mode=IN, jdbcType=NUMERIC},
				#{paymentCard, mode=IN, jdbcType=VARCHAR},
				#{paymentKey, mode=IN, jdbcType=VARCHAR},
				#{paymentTime, mode=IN, jdbcType=TIMESTAMP},
				#{paymentId, mode=OUT, jdbcType=NUMERIC}
			)}
	</insert>

	<!-- 클라이언트에서 받은 결제 아이템 배열 삽입 -->
	<insert id="insertPaymentItems" parameterType="map">
		DECLARE
		v_name VARCHAR2(100);
		v_price NUMBER;
		v_thumbnail_image VARCHAR2(255);
		BEGIN
		<foreach collection="items" item="item">
			-- 각 상품에 대한 정보를 변수에 저장
			SELECT P.NAME, P.PRICE, P.THUMBNAIL_IMAGE
			INTO v_name, v_price, v_thumbnail_image
			FROM PRODUCT P
			WHERE P.PRODUCT_ID = #{item.productId};

			-- 결제 아이템 삽입
			INSERT INTO PAYMENT_ITEM (
			PAYMENT_ITEM_ID,
			PAYMENT_ID,
			PRODUCT_ID,
			NAME,
			PRICE,
			QUANTITY,
			THUMBNAIL_IMAGE
			) VALUES (
			SEQ_PAYMENT_ITEM_ID.NEXTVAL,
			#{paymentId},
			#{item.productId},
			v_name,
			v_price,
			#{item.quantity},
			v_thumbnail_image
			);
		</foreach>
		END;
	</insert>

	<!-- 새로운 장바구니 및 인증 QR 정보 삽입을 위한 프로시저 호출 -->
	<insert id="insertCartAndQRCode" parameterType="com.ite.sws.domain.payment.vo.CartQRCodeVO" statementType="CALLABLE">
		CALL PROC_INSERT_CART_AND_QRCODE(
			#{cartId, mode=IN, jdbcType=NUMERIC},
			#{paymentId, mode=IN, jdbcType=NUMERIC},
			#{qrCodeUri, mode=IN, jdbcType=VARCHAR},
			#{newCartId, mode=OUT, jdbcType=NUMERIC, javaType=java.lang.Long}
			)
	</insert>

	<!-- 결제 ID를 통한 출입증 상태 사용 처리 -->
	<update id="updateExitCredential">
		UPDATE EXIT_CREDENTIAL
		SET    STATUS = 'DONE',
			   UPDATED_AT = CURRENT_TIMESTAMP
		WHERE  PAYMENT_ID = #{paymentId}
		  AND  STATUS = 'ACTIVE'
	</update>

	<!-- 멤버의 이전 구매 기록에서 비슷한 가격대의 제품을 찾기 -->
	<select id="findPreviousPurchasesInPriceRange" resultType="com.ite.sws.domain.product.vo.ProductVO">
		SELECT    P.PRODUCT_ID,
				  P.NAME,
				  P.PRICE,
				  P.THUMBNAIL_IMAGE
		FROM      PRODUCT P
				  LEFT JOIN PAYMENT_ITEM PI ON P.PRODUCT_ID = PI.PRODUCT_ID
				  JOIN      PAYMENT PM 		ON PI.PAYMENT_ID = PM.PAYMENT_ID
				  JOIN      CART C 			ON PM.CART_ID = C.CART_ID
		WHERE     C.MEMBER_ID = #{memberId}
		  			AND P.PRICE BETWEEN #{targetAmount} AND #{targetAmount}+5000
		ORDER BY  P.PRICE ASC,
				  PI.CREATED_AT DESC
		FETCH FIRST 1 ROWS ONLY
	</select>

	<!-- 전체 상품 중에서 비슷한 가격대의 제품을 찾기 -->
	<select id="findSingleProductInPriceRange" resultType="com.ite.sws.domain.product.vo.ProductVO">
		SELECT   PRODUCT_ID,
				 NAME,
				 PRICE,
				 THUMBNAIL_IMAGE
		FROM     PRODUCT
		WHERE    PRICE BETWEEN #{targetAmount} AND #{targetAmount}+10000
		ORDER BY PRICE ASC
		FETCH FIRST 1 ROWS ONLY
	</select>
</mapper>
