<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "classpath:/org/apache/ibatis/builder/xml/mybatis-3-mapper.dtd">

<mapper namespace="com.ite.sws.domain.review.mapper.ReviewMapper">

    <insert id="createReview" parameterType="com.ite.sws.domain.review.vo.ReviewVO">
        INSERT INTO SHORT_FORM (
        SHORT_FORM_ID,
        PAYMENT_ITEM_ID,
        PRODUCT_ID,
        SHORT_FORM_URL,
        THUMBNAIL_IMAGE
        )
        VALUES (
        SEQ_SHORT_FORM_ID.NEXTVAL,
        #{paymentItemId},
        #{productId},
        #{shortFormUrl},
        #{thumbnailImage}
        )
    </insert>

    <select id="getReviews" parameterType="java.util.Map"
      resultType="com.ite.sws.domain.review.dto.GetReviewRes">
        SELECT
        SHORT_FORM_ID AS shortFormId,
        PRODUCT_ID AS productId,
        SHORT_FORM_URL AS shortFormUrl,
        THUMBNAIL_IMAGE AS thumbnailImage
        FROM SHORT_FORM
        WHERE IS_DELETED NOT IN ('1')
        ORDER BY CREATED_AT DESC
        <if test="size != null and size > 0 and page != null and page >= 0">
            OFFSET #{page} * #{size} ROWS FETCH NEXT #{size} ROWS ONLY
        </if>
    </select>

    <select id="getReviewDetail" parameterType="java.lang.Long"
      resultType="com.ite.sws.domain.review.dto.GetReviewDetailRes">
        SELECT
        SHORT_FORM_ID AS shortFormId,
        PRODUCT_ID AS productId,
        SHORT_FORM_URL AS shortFormUrl,
        THUMBNAIL_IMAGE AS thumbnailImage
        FROM SHORT_FORM
        WHERE SHORT_FORM_ID = #{shortFormId}
        AND IS_DELETED NOT IN('1')
    </select>

    <update id="deleteReview" parameterType="java.lang.Long">
        UPDATE SHORT_FORM
        SET IS_DELETED = '1'
        WHERE SHORT_FORM_ID = #{shortFormId}
    </update>

    <select id="findProductReviews" parameterType="java.util.Map"
      resultType="com.ite.sws.domain.product.dto.GetProductReviewRes">
        SELECT
        r.SHORT_FORM_ID AS shortFormId,
        r.PRODUCT_ID AS productId,
        r.SHORT_FORM_URL AS shortFormUrl,
        r.THUMBNAIL_IMAGE AS shortFormThumbnailImage,
        r.CREATED_AT AS createdAt,
        p.PRICE AS price,
        p.NAME AS name,
        p.THUMBNAIL_IMAGE AS productThumbnailImage,
        p.DESCRIPTION_IMAGE AS descriptionImage,
        p.BARCODE AS barcode,
        p.DESCRIPTION AS description
        FROM
        SHORT_FORM r
        JOIN
        PRODUCT p ON r.PRODUCT_ID = p.PRODUCT_ID
        WHERE
        r.PRODUCT_ID = #{productId}
        AND r.IS_DELETED = 0
        ORDER BY
        r.CREATED_AT DESC
        OFFSET #{page} * #{size} ROWS FETCH NEXT #{size} ROWS ONLY
    </select>

</mapper>
