<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "classpath:/org/apache/ibatis/builder/xml/mybatis-3-mapper.dtd">

<!--
    *Admin Mybatis 매퍼
    *@구지웅
    *@since 2024.08.26
    *@version 1.0
    *
    *<pre>\
 *수정일 수정자 수정내용
     * =================== =========
     *2024.08.2 구지웅 최초 생성
     *</pre>
    -->

<mapper namespace="com.ite.sws.domain.admin.mapper.AdminMapper">
  <insert id="insertProduct" parameterType="com.ite.sws.domain.product.vo.ProductVO">
    INSERT INTO PRODUCT (
      PRODUCT_ID,
      NAME,
      PRICE,
      THUMBNAIL_IMAGE,
      DESCRIPTION_IMAGE,
      BARCODE,
      DESCRIPTION
    ) VALUES (
      SEQ_PRODUCT_ID.NEXTVAL,
      #{name},
      #{price},
      #{thumbnailImage},
      #{descriptionImage},
      #{barcode},
      #{description}
    )
  </insert>
</mapper>