<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
* 멤버 MyBatis 매퍼
* @author 정은지
* @since 2024.08.24
* @version 1.0
*
* <pre>
* 수정일        	수정자        수정내용
* ==========  =========    =========
* 2024.08.24  	정은지        최초 생성
* 2024.08.24    정은지        중복 아이디 체크 및 회원가입 기능 추가
* 2024.08.25    정은지        로그인 기능 추가
* </pre>
-->
<mapper namespace="com.ite.sws.domain.member.mapper.MemberMapper">

    <!-- 아이디 중복 확인 -->
    <select id="selectCountByLoginId" resultType="int">
        SELECT COUNT(*)
        FROM   AUTH
        WHERE  LOGIN_ID = #{loginId}
    </select>

    <!-- 회원가입 -->
    <insert id="insertMember" parameterType="PostMemberReq" useGeneratedKeys="true" keyProperty="memberId" keyColumn="member_id">
        INSERT INTO MEMBER
                    (MEMBER_ID,
                     NAME,
                     GENDER,
                     AGE,
                     PHONE_NUMBER,
                     CAR_NUMBER)
        VALUES      (SEQ_MEMBER_ID.NEXTVAL,
                     #{name},
                     #{gender},
                     #{age},
                     #{phoneNumber},
                     #{carNumber})
    </insert>

    <!-- 회원가입 -->
    <insert id="insertAuth">
        INSERT INTO AUTH
                    (MEMBER_ID,
                     LOGIN_ID,
                     PASSWORD)
        VALUES      (#{memberId},
                     #{loginId},
                     #{password})
    </insert>

    <!-- 로그인 -->
    <select id="selectMemberByLoginId">
        SELECT A.MEMBER_ID,
               A.LOGIN_ID,
               A.PASSWORD,
               A.ROLE
        FROM   AUTH A
                   JOIN MEMBER M ON A.MEMBER_ID = M.MEMBER_ID
        WHERE  A.LOGIN_ID = #{loginId}
          AND M.IS_DELETED = 0
    </select>

    <!-- 회원 정보 조회 -->
    <select id="selectMemberByMemberId">
        SELECT MEMBER_ID,
               NAME,
               GENDER,
               AGE,
               PHONE_NUMBER,
               CAR_NUMBER,
               IS_DELETED,
               CREATED_AT,
               UPDATED_AT
        FROM   MEMBER
        WHERE  MEMBER_ID = #{memberId}
    </select>
</mapper>