<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
* 마이 체크리스트 MyBatis 매퍼
* @author 정은지
* @since 2024.08.28
* @version 1.0
*
* <pre>
* 수정일        	수정자        수정내용
* ==========  =========    =========
* 2024.08.28  	정은지        최초 생성
* 2024.08.28    정은지        마이 체크리스트 조회
* 2024.08.28    정은지        마이 체크리스트 아이템 추가
* 2024.08.28    정은지        마이 체크리스트 아이템 체크 상태 변경
* 2024.08.28    정은지        마이 체크리스트 아이템 삭제
* 2024.08.28    정은지        마이 체크리스트 아이템 변경
* </pre>
-->
<mapper namespace="com.ite.sws.domain.checklist.mapper.MyCheckListMapper">

    <!-- 마이 체크리스트 조회 -->
    <select id="selectMyCheckListByMemberId">
        SELECT MY_CHECK_LIST_ITEM_ID,
               ITEM AS itemName,
               STATUS
        FROM   MY_CHECK_LIST_ITEM
        WHERE  MEMBER_ID = #{memberId}
          AND IS_DELETED = 0
        ORDER  BY MY_CHECK_LIST_ITEM_ID DESC
    </select>

    <!-- 아이템 추가 -->
    <insert id="insertMyCheckListItem">
        INSERT INTO MY_CHECK_LIST_ITEM
                    (MY_CHECK_LIST_ITEM_ID,
                     MEMBER_ID,
                     ITEM)
        VALUES      (SEQ_MY_CHECK_LIST_ITEM_ID.NEXTVAL,
                     #{memberId},
                     #{item})
    </insert>

    <!-- 체크 상태 변경 -->
    <update id="updateMyCheckListItemStatus">
        UPDATE MY_CHECK_LIST_ITEM
        SET    STATUS = CASE
                            WHEN STATUS = 'UNCHECKED' THEN 'CHECKED'
                            WHEN STATUS = 'CHECKED' THEN 'UNCHECKED'
                        END,
               UPDATED_AT = CURRENT_TIMESTAMP
        WHERE  MY_CHECK_LIST_ITEM_ID = #{myCheckListItemId}
               AND IS_DELETED = 0
    </update>

    <!-- 아이템 삭제 -->
    <update id="deleteMyCheckListItem">
        UPDATE MY_CHECK_LIST_ITEM
        SET    IS_DELETED = 1,
               UPDATED_AT = CURRENT_TIMESTAMP
        WHERE  MY_CHECK_LIST_ITEM_ID = #{myCheckListItemId}
    </update>

    <!-- 아이템 변경 -->
    <update id="updateMyCheckListItem">
        UPDATE MY_CHECK_LIST_ITEM
        SET    ITEM = #{item},
               UPDATED_AT = CURRENT_TIMESTAMP
        WHERE  MY_CHECK_LIST_ITEM_ID = #{myCheckListItemId}
    </update>
</mapper>