<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

 <!-- 
 * 공유 체크리스트 Mybatis 매퍼
 * @author 김민정
 * @since 2024.08.27
 * @version 1.0
 *
 * <pre>
 * 수정일       수정자        수정내용
 * ==========  =========    =========
 * 2024.08.27  김민정        최초 생성
 * 2024.08.27  김민정        장바구니가 존재하는지 확인
 * 2024.08.27  김민정        상품이 존재하는지 확인
 * </pre>
 -->
<mapper namespace="com.ite.sws.domain.checklist.mapper.ShareCheckListMapper">

	<!-- 장바구니가 존재하는지 확인 -->
	<select id="selectCountByCartId" resultType="int">
		SELECT COUNT(1)
		FROM   CART
		WHERE  CART_ID = #{cartId}
	</select>

	<!-- 상품이 존재하는지 확인 -->
	<select id="selectProductByProductId" resultType="int">
		SELECT COUNT(1)
		FROM   PRODUCT
		WHERE  PRODUCT_ID = #{productId}
	</select>

</mapper>
