<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

 <!-- 
 * 공유 체크리스트 Mybatis 매퍼
 * @author 김민정
 * @since 2024.08.27
 * @version 1.0
 *
 * <pre>
 * 수정일       수정자        수정내용
 * ==========  =========    =========
 * 2024.08.27  김민정        최초 생성
 * 2024.08.27  김민정        장바구니가 존재하는지 확인
 * 2024.08.27  김민정        상품이 존재하는지 확인
 * 2024.08.27  김민정        cartId에 해당하는 공유 체크리스트 아이템 조회
 * 2024.08.27  김민정        공유 체크리스트 아이템 생성을 위한 프로시저 호출
 * 2024.08.28  김민정        공유 체크리스트 아이템 삭제를 위한 프로시저 호출
 * 2024.08.28  김민정        공유 체크리스트 아이템 체크 상태 변경을 위한 프로시저 호출
 * </pre>
 -->
<mapper namespace="com.ite.sws.domain.checklist.mapper.ShareCheckListMapper">

	<!-- 장바구니가 존재하는지 확인 -->
	<select id="selectCountByCartId" resultType="int">
		SELECT COUNT(*)
		FROM   CART
		WHERE  CART_ID = #{cartId}
		  AND STATUS = 'ACTIVE'
	</select>

	<!-- 상품이 존재하는지 확인 -->
	<select id="selectCountByProductId" resultType="int">
		SELECT COUNT(*)
		FROM   PRODUCT
		WHERE  PRODUCT_ID = #{productId}
		  AND IS_DELETED = 0
	</select>

	<!-- cartId에 해당하는 공유 체크리스트 아이템 조회 -->
	<select id="selectShareCheckListByCartId"
			resultType="com.ite.sws.domain.checklist.dto.GetShareCheckListRes$GetShareCheckRes">
		SELECT SI.PRODUCT_ID     AS productId,
			   P.NAME            AS productName,
			   P.PRICE           AS productPrice,
			   P.THUMBNAIL_IMAGE AS productThumbnail,
			   SI.STATUS			 AS status
		FROM   SHARE_CHECK_LIST_ITEM SI
			   JOIN PRODUCT P ON SI.PRODUCT_ID = P.PRODUCT_ID
		WHERE  SI.CART_ID = #{cartId}
			   AND SI.IS_DELETED = 0
		ORDER  BY SI.UPDATED_AT DESC
	</select>

	<!-- 공유 체크리스트 아이템 생성을 위한 프로시저 호출 -->
	<insert id="insertShareCheckListItem">
		CALL PROC_INSERT_SHARE_CHECK_LIST_ITEM(#{cartId}, #{productId})
	</insert>

	<!-- 공유 체크리스트 아이템 삭제를 위한 프로시저 호출 -->
	<update id="deleteShareCheckListItem">
		CALL PROC_DELETE_SHARE_CHECK_LIST_ITEM(#{cartId}, #{productId})
	</update>

	<!-- 공유 체크리스트 아이템 체크 상태 변경을 위한 프로시저 호출 -->
	<update id="updateShareCheckListItem">
		CALL PROC_UPDATE_SHARE_CHECK_LIST_ITEM_STATUS(#{cartId}, #{productId})
	</update>
</mapper>
